body{
    background: #f9f7fe;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.weather-app-info{
    background: white;
    max-width: 600px;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    padding: 30px;
    margin: 30px   auto;
    
}
.weather-app-input{

   background: #f9f7fe;
   width: 80%;
   padding: 14px 25px; 
   border: none;
   border-radius: 10px;
   font-size: 16px;
}
.weather-app-serch{
    background-color: #885df1;
    color: white;
    font-size: 100%;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
}
.weather-app-content{
    display: flex;
    margin: 0 auto;
    padding: 40px 6px;
    justify-content: space-between;
    line-height: 35px;
}
h1{
    font-size: 38px;
}
.weather-app-date{
    font-size: 14px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 20px;
    font-weight: 500;
}
strong{
    font-weight: bold;
    color: rgb(235, 102, 201);
}
.weather-app-temperature{
    display: flex;
    
}
.weather-icon{
    font-size: 38px;
    padding: 4px;
    line-height: 70px;
}
.weather-temperature{
    font-size: 78px;
    font-weight: bold;
    line-height: 60px;
}
.weather-celcius{
    font-size: 30px;
    line-height: 30px;
}
footer{
    font-size: 14px;
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
}
a{
    color: #885df1;
    cursor: pointer;
}